<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
	      id        = "org.camptocamp.app.outing"
	      version   = "0.1.0">

  <name>Camptocamp.org</name>

  <description>
    Easily add your outings to camptocamp.org from your smartphone
  </description>

  <author href="http://wwww.camptocamp.org" email="dev@camptocamp.org">
    Camptocamp Association
  </author>

  <license href="http://www.gnu.org/licenses/gpl.html">
    Distributed under the GPLv3
  </license>

  <icon src="img/icon.png" gap:role="default" />

  <feature name="http://api.phonegap.com/1.0/geolocation" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <feature name="http://api.phonegap.com/1.0/camera" />

  <preference name="orientation" value="portrait" />
  <preference name="phonegap-version" value="2.0.0" />
  <!-- iOS specific -->
  <preference name="target-device" value="handset" />
  <preference name="exit-on-suspend" value="false" />
  <!-- Android specific -->
  <preference name="android-installLocation" value="auto" />
  
</widget>